/* #id_cic, #id_curp, #id_name, #id_name, #id_lastName, #id_momLastName, #id_birthDate,
#id_email, #id_phoneNumber, #id_postalCode, #id_town, #id_state, #id_gender, #id_secQuestion1,
#id_secQuestion1, #id_secAns1, #id_secQuestion2, #id_secAns2, #id_secQuestion3, #id_secAns3 {
    width: 200%;

} */

body {
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    
    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
}
  
  

#title {
    
    margin: 20px auto;
    color: white;
    border-radius: 7px;
    padding: 20px;
    text-align: center;
    width: fit-content;

}

#reg_form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 50px;
}

.form {
    background-color: black;
}

.form-elements {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 17px;
    padding: 20px;
    width: 100%;
}

.btn {
    margin-top: 20px;
}

#form-item {
    margin-bottom: 10px;
}

.btn a {
    color: white;
    text-decoration: none;
}



@media screen and (max-width: 1180px) {

    

}



