{% extends "layouts/menu.html"%}

{% block content %}

  {% load static %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Login</title>
      <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
    </head>
    <body>
        <center>
            <h1>Leer datos desde MongoDB</h1>
            <table border="1">    
                <tr>
                    <th>Matrícula</th>
                    <th>Nombre</th>
                    <th>Año</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.matricula }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.age }}</td>
                    </tr>
                {% endfor %}
            </table>
        </center>
      </body>
    </html>

{% endblock %}